<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rightdarkdoc.dao.TeamDao">

    <!--用户创建新的团队-->
    <insert id="createNewTeam" parameterType="Team">
        insert into Team(teamname, creatorid, teaminfo) values(#{teamname}, #{creatorid}, #{teaminfo})
    </insert>

    <!--根据团队名称和creatorid查找团队-->
    <select id="findTeamByTeamnameAndCreatorId" resultType="Team">
        select * from Team where teamname = #{teamname} and creatorid = #{creatorid}
    </select>

    <!--删除团队-->
    <delete id="deleteTeamByTeamid">
        delete from Team where teamid = #{teamid}
    </delete>

</mapper>