<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rightdarkdoc.dao.UserViewDocDao">



    <!-- 实现增加用户最近浏览的功能 -->
    <insert id="addUserViewDoc">
        Insert into `User_Doc_View` values(#{userid},#{docid},#{viewtime})
    </insert>

    <delete id="delUserViewDoc">
        delete from `User_Doc_View` where userid=#{userid} and docid=#{docid}
    </delete>

    <delete id="delUserViewDocByDocid">
        delete from `User_Doc_View` where docid=#{docid}
    </delete>

    <update id="updateViewtime">
        update `User_Doc_View` set viewtime=#{viewtime} where userid=#{userid} and docid=#{docid}
    </update>

    <select id="selectUserViewDoc" resultType="java.lang.Integer">
        select docid from `User_Doc_View` where userid=#{userid} order by viewtime DESC
    </select>

    <select id="selectUserViewDocByUidAndDid" resultType="java.lang.Integer">
        select docid from `User_Doc_View` where userid=#{userid} and docid=#{docid} order by viewtime
    </select>



</mapper>