<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rightdarkdoc.dao.UserDao">

    <!--实现注册新的用户的功能-->
    <insert id="registerNewUser" parameterType="User">
        insert into `User`(`username`, `password`, `phone`, `email`) values(#{username}, #{password}, #{phone}, #{email})
    </insert>

    <!--实现用户名和密码登录功能-->
    <select id="findUserByUsernameAndPassword"  resultType="User">
        select * from `User` where username = #{username} and password = #{password}
    </select>



    <!-- 实现更新用户信息的功能 -->
    <update id="updateUser" parameterType="User">
        update `User` set phone=#{phone},birthday=#{birthday},email=#{email},avatar=#{avatar},description=#{description} where userid=#{userid}
    </update>


    <!-- 更改用户密码的功能 -->
    <update id="updateUserPassword">
        update `User` set password=#{password} where userid=#{userid}
    </update>

    <!-- 实现根据用户id查询用户信息的功能 -->
    <select id="selectUserByUserId" parameterType="java.lang.Integer" resultType="com.rightdarkdoc.entity.User">
        select * from User where userid=#{userid}
    </select>

    <!-- 实现根据用户username查询用户信息的功能 -->
    <select id="selectUserByUsername" resultType="User">
        select * from User where username=#{username}
    </select>


</mapper>